############################
# Visual Studio
############################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Build Results
############################

[Bb]in/
[Oo]bj/
Debug/
Release/

############################
# ASP.NET Core
############################

wwwroot/lib/

############################
# Rider
############################

.idea/

############################
# VS Code
############################

.vscode/

############################
# NuGet
############################

*.nupkg
packages/

############################
# Logs
############################

*.log

############################
# Windows
############################

Thumbs.db
Desktop.ini

############################
# Temp Files
############################

*.tmp
*.cache

############################
# Publish Output
############################

publish/

############################
# Test Results
############################

TestResults/

############################
# Misc
############################

_ReSharper*/
*.DotSettings.user
